body{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.vinhos{

    display: flex;
    justify-content: center;
    align-items: center;

}

.box-vinho{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    background-color: var(--color-white);
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    cursor: pointer;

}

.box-vinho:hover{

    transform: scale(1.1);

}

h1{

    text-align: center;
    margin-bottom: 50px;
    font-size: 3.5em;;

}