.container {

    height: 100vh;
    width: 100vw;
}

.home-page-box{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    flex-direction: column;

}

.vinhos{

    display: flex;
    justify-content: center;
    align-items: center;

}

.box-vinho{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    background-color: var(--color-white);
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    cursor: pointer;

}

.box-vinho:hover{

    transform: scale(1.1);
    background-color: var(--color-vine);
    transition: 0.3s;

}

.titulo-home-page{

    text-align: center;
    margin-bottom: 50px;
    font-size: 3em;;

}

.cabecalho {

    display: flex;
    justify-content: space-between;

}

.cabecalho-direito {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-size: 20px;

}

.pLogado {

    display: none;

}

.cabecalho-direito a{

    text-decoration: none;
    color: var(--color-white);

    &:hover{

        color: var(--color-vine);
        transition: 0.3s;

    }

}