.pagina-vinho {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.pagina-vinho img{

    height: 350px;

}

.infos-vinho {

    width: 600px;

}

.infos-vinho button {

    border: none;
    padding: 11px 30px;
    background-color: var(--color-vine);
    border-radius: 50px;
    align-items: baseline;
    color: var(--color-white);
    cursor: pointer;
    width: 190px;
}

.infos-vinho input {

    padding: 10px;
    margin: 10px 5px 0 0;
    border: none;
    border-radius: 5px;
    background-color: var(--color-white);
    
    &::placeholder {

        color: var(--color-vine);

    }
    
}

.infos-vinho h2 {
    color: var(--color-vine);
    font-size: 40px;
}

.infos-vinho h3 {

    color: var(--color-white);
    font-size: 20px;

}

.infos-vinho h4 {

    font-size: 25px;
    color: var(--color-vine);

}

p {
    color: var(--color-white);
    text-wrap: wrap;
}


.qtdvinho {
    background-color: var(--color-vine);

    &::placeholder {
        font-size: 15px;
        color: var(--color-white);


    }


}

.cupom {
    background-color: var(--color-vine);

    &::placeholder {
        font-size: 15px;
        color: var(--color-white);


    }
}

.infos-vinho a {

    color: var(--color-dark-white);
}